.Blog{
    width: 100px;
    border: 2px solid rgb(60, 121, 73);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px ;
    cursor: pointer;
}
.Blog:hover{
    background-color: salmon;
}